    div[id$="control_div"] * {
        font-size: 0.98em !important;
    }

    #idpsChartDetail,
    #spsChartDetail {
        padding-top: 60px;
    }

    .margin-top {
        margin-top: 100px;
    }

    table[id$="Datatable"],  table[id$="DataTable"]{
        padding-top: 15px;
        
    }
    table[id$="Datatable"] tbody td{
        word-break: break-all;
    }

    #spSpecificData,
    #idpSpecificData {
        display: none;
    }

    .small-box * {
        font-size: inherit;
        line-height: initial;
        font-weight: normal;
    }

    .small-box h3 {
        color: #fff;
    }

    .inactive {
        background-color: #b4b0b0 !important;
    }

    .overlay {
        display: none;
    }

    .subTitle {
        padding: 10px 0px;
        font-size: 1.1em;
    }
    svg > g > g:last-child {  word-break: break-all;}
    svg > g:last-child > g:last-child { pointer-events: none;  }
    div.google-visualization-tooltip { pointer-events: none }
    .google-visualization-tooltip { white-space:nowrap; word-break: break-all;  }
    
    .selectPeriodContainer {
        text-align: right;
        width: 87%;
        padding-top: 30px;
    }
    .fullWidth{
        width:100%;
        padding-right: 30px;
    }
    .dataTableWithFilter {
         padding: 0px 0px;    
    }
    .dataTableDateFilter {
        padding: 20px 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #fefe;
    }
    .datatable-link {
        color: #3c8dbc!important;
    }
    .filter-button{
        height: 29px;
        padding-top: 3px;
        position: relative;
        top: -1px;
    }
    .bg-box-silver {
        background-color: #fafafa;
    }
    .datepicker table tr td, .datepicker table tr th {
        border-radius: 0;
    }
    .groupDataByDate{
        height: 29px;
    }
    .btn.groupDataByDate{
        padding-top: 5px;
        height: 30px;
    }
    .columnList {
        margin: 64px 26px 0px 0px;
        padding-left: 20px;
        height: 224px;
        overflow: auto;
        text-align: left;
        padding-right: 30px;
        
    }
    .columnList li {  
        list-style-type: none;
        
      }
      
    .columnList li:before {
        content: '\2022';
        font-size: 46px;
        position: relative;
        top: 10px;
        color: #3242fe;
      }

    .rowList {
        padding-bottom: 5px; 
    }

    .perCouStatsContent{
        margin-top:30px;
    }
    
    #myModal .dataTableDateFilter input{
        height: 31px;
    }

    #myModal .btn.groupDataByDate{
        top: -2px;
        position: relative;
        height: 32px;
    }

    #myModal #specificDataTableContainer{
        margin-top:20px;
    }
    @media (min-width: 768px) {
        .modal-dialog {
            width: 80%;
        }
    }
