    /*div[id$="loginsDashboard"] {
        padding-bottom: 35px;
    }*/

    div[id$="control_div"] * {
        font-size: 0.98em !important;
    }

    #idpsChartDetail,
    #spsChartDetail {
        padding-top: 60px;
    }

    #idpDatatable_wrapper,
    #spDatatable_wrapper, 
    #idpSpecificDataTableContainer, 
    #spSpecificDataTableContainer {
        margin-top: 100px;
    }

    table[id$="Datatable"] {
        padding-top: 15px;
        
    }
    table[id$="Datatable"] tbody td{
        word-break: break-all;
    }


    #spSpecificData,
    #idpSpecificData {
        display: none;
    }

    .small-box * {
        font-size: inherit;
        line-height: initial;
        font-weight: normal;
    }

    .small-box h3 {
        color: #fff;
    }

    .inactive {
        background-color: #b4b0b0 !important;
    }

    .overlay {
        display: none;
    }

    .subTitle {
        padding: 10px 0px;
        font-size: 1.1em;
    }
    svg > g > g:last-child {  word-break: break-all;}
    svg > g:last-child > g:last-child { pointer-events: none;  }
    div.google-visualization-tooltip { pointer-events: none }
    .google-visualization-tooltip { white-space:nowrap; word-break: break-all;  }
    
    @media (min-width: 768px) {
        .modal-dialog {
            width: 80%;
        }
    }
